html,body{
  width:100%;
  height:100%;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 16pt;
  color: #0E244C;
  background-color: #F8F1EE;
  margin:0;
}


p {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 14pt;
  color: #0E244C;
}
      
h1 {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 20pt;
  color: #0E244C;
}

h3 {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 16pt;
  color: #0E244C;
}

button {
  background-color: #0E244C;
  color: #F8F1EE;
  font-family: "Open Sans Condensed";
  font-size:12pt;
  height: 60px;
  width:120px;
  padding: 10px;
	margin-top: 30px; 
	margin-left: 250px; 
  margin-bottom: 20px;
  border: #0E244C;
  border-radius: 5px;  
}

#footer{
  background-color:#0E244C;
  color:#F8F1EE;
  margin:auto;
  font-family: 'Open-Sans Condensed', sans-serif;
  width: 100%;
  height: 140px;
  padding: 30px 10% 50px 10%;
  vertical-align: middle;
  font-size:12px;
  line-height:20px;
  text-align: center;
	letter-spacing: 1px;
}

#footer a{
  color: #C47C5B;
}
   
.container {
  max-width: 800px;
  width:100%;
  height:100%;
  padding:2em;
  margin: 0 auto;
}

*{
  box-sizing: border-box;
}

canvas {
  display: block;
}


section{
  min-height:400px;
  margin-bottom:.25em;
  padding:.25em;
}